<section id="gallery" class="gallery-section section">
  <div class="container text-center">
    <h3 class="title script">
      <span class="title-deco-left"></span>
      <span class="title-text">6 años juntos</span>
      <span class="title-deco-right"></span>
    </h3>
    <div class="intro">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </div>
    <div class="gallery-container">
      <div class="photos-wrapper">
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/3.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-2.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-3.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-4.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-5.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/pic-8.jpg" alt="">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="assets/images/gallery/1.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-7.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/pic-9.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-10.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/pic-13.jpg" alt="">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="assets/images/gallery/2.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-11.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/4.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-15.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-17.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/5.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/pic-16.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>