<section id="gallery" class="gallery-section section">
  <div class="container text-center">
    <h3 class="title script">
      <span class="title-deco-left"></span>
      <span class="title-text">6 años juntos</span>
      <span class="title-deco-right"></span>
    </h3>
    <div class="intro">Quiero que tengamos un infinito a medias. Que el érase una vez, sea de los dos. </div>
    <div class="gallery-container">
      <div class="photos-wrapper">
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/4.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/15.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/5.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/18.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/16.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/8.jpg" alt="">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="assets/images/gallery/1.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/20.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/10.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/19.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/6.jpg" alt="">
          </div>
          <div class="col-xs-6">
            <img class="img-responsive" src="assets/images/gallery/2.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/17.jpg" alt="">
            <img class="img-responsive" src="assets/images/gallery/14.jpg" alt="">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/9.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/7.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/13.jpg" alt="">
          </div>
          <div class="col-xs-3">
            <img class="img-responsive" src="assets/images/gallery/3.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>