<div class="invitations">
  <div class="container text-center">
    <h3 class="title script">
      <span class="title-deco-left"></span>
      <span class="title-text">Invitaciones</span>
      <span class="title-deco-right"></span>
    </h3>
    <div *ngIf="result">
      <div class="countdown-box" id="countdown-box">
        <span class="item awaiting">
          <span class="number">{{result.invitationsAwaiting}}</span>
          <span class="unit script">Por enviar</span>
        </span>
        <span class="item confirmed">
          <span class="number">{{result.invitationsSent}}</span>
          <span class="unit script">Enviadas</span>
        </span>
      </div>
      <div class="row">
        <div class="col-lg-10 col-lg-offset-1 text-left">
          <div class="list-group">
            <div class="margin-bottom-10">
              <div class="text-right form-inline">
                <a class="btn btn-sm btn-secondary" href="#">
                  <i class="fa fa-filter"></i>Filtrar</a>
                <a class="btn btn-sm btn-primary" href="#" data-toggle="modal" data-target="#rsvp-invitation-modal" (click)="clearInvitation()">
                  <i class="fa fa-plus"></i>Añadir invitacion</a>
              </div>
            </div>
            <div *ngFor="let group of result.groups">
              <div class="group-container" *ngIf="group.invitations"></div>
              <a class="group-name" (click)="group.isVisible = !group.isVisible">
                <i class="fa " [ngClass]="{'fa-caret-right': !group.isVisible, 'fa-caret-down': group.isVisible}"></i>
                {{group.name}} ({{group.guestsAmount}})</a>
              <div class="group-invitations" *ngIf="group.isVisible">
                <div class="invitation-box" [ngClass]="{'active': activeInvitationIndex === i}" *ngFor="let invitation of group.invitations; index as i">
                  <a class="list-group-item basic-info" href="javascript:void(0)" (click)="changeActiveInvitation(i)">
                    <div>
                      <h4 class="list-group-item-heading">{{invitation.alias}}</h4>
                      <span class="invitation-group list-group-item-subheading">{{invitation.group.host}} - {{invitation.group.name}}</span>
                    </div>
                    <div class="invitation-summary summary pull-right">
                      <div class="invitation-sent">
                        <div class="invitation-dot">
                          <app-boolean-dot [size]="14" [value]="invitation.isSent" [title]="'Editar invitacion'" [modal]="'#rsvp-invitation-modal'"
                            (customClick)="editInvitation(invitation)"></app-boolean-dot>
                        </div>
                      </div>
                      <div class="invitation-number-guests">
                        <i class="fa fa-male"></i>
                        <span>{{invitation.guests.length}}</span>
                      </div>
                    </div>
                  </a>
                  <div class="list-group-item extended-info" *ngIf="activeInvitationIndex === i">
                    <div class="invitation-guests">
                      <div class="invitation-guest" *ngFor="let guest of invitation.guests">
                        <div class="full-name">
                          <app-person-icon [type]="guest.type"></app-person-icon>
                          <span>{{guest.fullName}}</span>
                        </div>
                        <div class="attending-dot">
                          <app-boolean-dot [size]="12" [value]="guest.isAttending" [modal]="'#rsvp-guest-modal'" (customClick)="editGuest(guest)"></app-boolean-dot>
                        </div>
                      </div>
                    </div>
                    <div class="pull-right">
                      <a class="btn btn-sm btn-secondary" target="_blank" href="/admin/invitation/{{invitation.guid}}" title="Ver invitacion">
                        <i class="fa fa-envelope-open"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-invitation-modal *ngIf="result" [invitation]="selectedInvitation" (ending)="refreshResults()"></app-invitation-modal>
  <app-guest-modal *ngIf="result" [guest]="selectedGuest" (ending)="refreshResults()"></app-guest-modal>
</div>