<div class="hotel-box animated bounceIn">
  <div class="col-inner">
    <h4 class="subtitle hotel-name">{{hotel.name}}</h4>
    <div class="image-container">
      <img src="{{hotel.image}}" />
    </div>
    <div class="info-container">
      <ul class="meta-list list-unstyled text-left center-block">
        <li class="bold">
          <i class="fa fa-star"></i>{{hotel.stars}}</li>
        <li class="bold">
          <i class="fa fa-thumbs-up"></i>{{hotel.rate}}</li>
        <li>
          <a class="btn btn-sm btn-primary" type="button" href="{{hotel.url}}" target="blank">
            <i class="fa fa-desktop"></i> Ver disponibilidad</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>
  </div>
</div>