<div class="responsive-table-container">
  <div class="controls">
    <nav class="navbar navbar-default">
      <div class="">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <div class="left">
            <form class="navbar-form navbar-left">
              <div class="form-group" *ngIf="config.search">
                <input type="text" class="form-control search-input" placeholder="{{config.search.placeholder}}" [ngModel]="filterParams.searchStr"
                  (ngModelChange)="search($event)" name="search">
              </div>
            </form>
          </div>
          <div class="right">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li class="dropdown" *ngFor="let select of config.selects">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <div class="dropdown-button">{{select.label}}
                  <span class="caret"></span>
                </div>
                <div>{{select.selectedName}}</div>
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a href="javascript:void(0)" (click)="setSelect(select.property_match, null, select)">Ninguno/a</a>
                </li>
                <li *ngFor="let option of select.options">
                  <a href="javascript:void(0)" (click)="setSelect(select.property_match, option, select)">{{option[select.name_property]}}</a>
                </li>
              </ul>
            </li>
            <li class="results-counter"><span>{{activeElementsResult.filteredElementsLength}}</span></li>
          </ul>     
          <form class="navbar-form navbar-right">
            <div *ngIf="config.new_element && config.new_element.authLevels && config.new_element.authLevels.includes(authLevel)" class="form-group">
              <a class="btn btn-sm btn-primary" [ngClass]="{'btn-block': sizeCode === 'xs'}" (click)="config.new_element.click()">
                <i class="fa {{config.new_element.icon}}"></i>{{config.new_element.label}}</a>
            </div>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <table class="responsive-table">
    <thead>
      <tr>
        <th *ngFor="let column of config.columns | filterResponsive: [sizeCode, false]" (click)="sortBy(column.sortBy)">{{column.header}}
          <i class="fa fa-sort"></i>
        </th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let element of activeElementsResult.activeElements; index as i">
        <tr [ngClass]="{'footable-even': i % 2 === 0, 'footable-odd': i % 2 ===1, 'selected': selectedElement === element }" (click)="selectedElement = selectedElement === element ? null : element ">
          <td *ngFor="let column of config.columns | filterResponsive: [sizeCode, false]; index as j">
            <ng-container *ngIf="j === 0">
              <i class="fa" [ngClass]="{'fa-chevron-right': selectedElement !== element, 'fa-chevron-down': selectedElement === element}"></i>
            </ng-container>
            <ng-container *ngIf="column.property && !column.component">{{element | complexProperty: column.property }}</ng-container>
            <ng-container *ngIf="column.property && column.component">
              <ng-template [appInjectComponent]="column.component.name" [inputs]="column.component.inputs | componentInputs: element"></ng-template>
            </ng-container>
          </td>
        </tr>
        <tr class="footable-row-detail" [ngClass]="{'footable-even': i % 2 === 0, 'footable-odd': i % 2 ===1}" *ngIf="selectedElement === element">
          <td [colSpan]="sizeCode === 'xs' ? (config.columns | filterResponsive: [sizeCode, false]).length : (config.columns | filterResponsive: [sizeCode, false]).length -1">
            <div class="footable-row-detail-inner">
              <div class="footable-row-detail-row" *ngFor="let column of config.columns | filterResponsive: [sizeCode, true]">
                <div class="footable-row-detail-name">
                  <i class="fa {{column.icon}}"></i>{{column.header}}:</div>
                <div class="footable-row-detail-value">
                  <ng-container *ngIf="column.property && column.component; else plainProperty">
                    <ng-template [appInjectComponent]="column.component.name" [inputs]="column.component.inputs | componentInputs: element"></ng-template>
                  </ng-container>
                  <ng-template #plainProperty>
                    <ng-container *ngIf="!column.multiProperty; else multiProperty">
                      {{element | complexProperty: column.property}}
                    </ng-container>
                    <ng-template #multiProperty>
                      <ng-container *ngFor="let mElement of element[column.property]">
                        <div>{{mElement | complexProperty: column.multiProperty}}</div>
                      </ng-container>
                    </ng-template>
                  </ng-template>
                </div>
              </div>
            </div>
            <div class="footable-row-actions" *ngIf="sizeCode === 'xs' && config.other_actions">
              <ng-container *ngFor="let action of config.other_actions">
                <div *ngIf="!action.authLevels || (action.authLevels && action.authLevels.includes(authLevel))">
                  <a class="btn btn-block btn-sm btn-primary" (click)="action.click(element)">
                    <i class="fa {{action.icon}}"></i>{{action.label}}</a>
                </div>
              </ng-container>
            </div>
          </td>
          <td *ngIf="sizeCode !== 'xs' && config.other_actions" [colSpan]="1" class="action-buttons-row">
            <ng-container *ngFor="let action of config.other_actions">
              <div *ngIf="!action.authLevels || (action.authLevels && action.authLevels.includes(authLevel))">
                <a class="btn btn-block btn-sm btn-primary" (click)="action.click(element)">
                  <i class="fa {{action.icon}}"></i>{{action.label}}</a>
              </div>
            </ng-container>
          </td>
        </tr>
      </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="sizeCode === 'xs' ? (config.columns | filterResponsive: [sizeCode, false]).length : (config.columns | filterResponsive: [sizeCode, false]).length" class="footable-visible">
          <div class="text-right">
            <app-responsive-table-pagination></app-responsive-table-pagination>
          </div>
        </td>
      </tr>
    </tfoot>
  </table>
</div>