<section id="accommodation" class="accommodation-section section">
  <div class="container text-center">
    <h3 class="title script">
      <span class="title-deco-left"></span>
      <span class="title-text animated fadeInUp delayp2">Alojamiento</span>
      <span class="title-deco-right"></span>
    </h3>
    <div class="intro">Aunque la ceremonia es en Navalmoral, el banquete y fiesta seran en Jarandilla de la Vera, por lo que recomendamos hospedarse
      en Jarandilla. </div>
    <div class="row cols-wrapper">
      <div class="col-xs-12 col-sm-6">
        <h3 class="location">Navalmoral de la Mata</h3>
        <app-hotel-box *ngFor="let hotel of hotels.navalmoral" [hotel]="hotel"></app-hotel-box>
      </div>
      <div class="col-xs-12 col-sm-6">
        <h3 class="location">Jarandilla de la Vera</h3>
        <app-hotel-box *ngFor="let hotel of hotels.jarandilla" [hotel]="hotel"></app-hotel-box>
      </div>
    </div>
  </div>
</section>