<div id="rsvp-guest-modal" class="modal modal-rsvp" tabindex="-1" role="dialog" aria-labelledby="rsvpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="rsvp-form" class="rsvp-form form" *ngIf="modalElement && !deleteMode" (ngSubmit)="onSubmit()">
          <div id="form-messages" class="text-center"></div>
          <div class="row text-left">

            <!-- NAME -->
            <smart-form-text [class]="'col-xs-12 col-sm-6'" [label]="'Nombre'" [(model)]="modalElement.name"></smart-form-text>

            <!-- FULL NAME -->
            <smart-form-text [class]="'col-xs-12 col-sm-6'" [label]="'Nombre completo'" [(model)]="modalElement.fullName"></smart-form-text>

            <!-- EMAIL -->
            <smart-form-text [type]="email" [class]="'col-xs-12 col-sm-4'" [label]="'Email'" [(model)]="modalElement.email"></smart-form-text>

            <!-- PHONE -->
            <smart-form-text [type]="tel" [class]="'col-xs-12 col-sm-3'" [label]="'Movil'" [(model)]="modalElement.phone"></smart-form-text>

            <!-- SEND SMS -->
            <smart-form-select [class]="'col-xs-12 col-sm-2'" [label]="'SMS'" [type]="'YesNo'" [emptyOption]="true" [(model)]="modalElement.sendSms"></smart-form-select>

            <!-- TYPE -->
            <smart-form-select [class]="'col-xs-12 col-sm-3'" [label]="'Genero'" [emptyOption]="true" [options]="types" [(model)]="modalElement.type"></smart-form-select>

            <!-- GROUP -->
            <smart-form-select [class]="'col-xs-12 col-sm-4'" [label]="'Grupo'" [options]="groups" [optionValue]="'_id'" [optionLabel]="'name'"
              [emptyOption]="true" [model]="group" (modelChange)="setGroup($event)"></smart-form-select>

            <!-- INVITATION -->
            <smart-form-select [class]="'col-xs-12 col-sm-4'" [label]="'Invitacion'" [options]="invitations" [optionValue]="'_id'" [optionLabel]="'alias'"
              [emptyOption]="true" [(model)]="modalElement.invitation"></smart-form-select>

            <!-- TABLE -->
            <smart-form-select [class]="'col-xs-12 col-sm-4'" [label]="'Mesa'" [emptyOption]="true" [options]="tables" [optionLabel]="'fullName'"
              [optionValue]="'_id'" [(model)]="modalElement.table"></smart-form-select>

            <!-- IS ATTENDING FRIDAY -->
            <smart-form-select [class]="'col-xs-12 col-sm-4'" [label]="'Asistencia viernes'" [type]="'YesNo'" [emptyOption]="true" [(model)]="modalElement.isAttendingFriday"></smart-form-select>

            <!-- IS ATTENDING -->
            <smart-form-select [class]="'col-xs-12 col-sm-4'" [label]="'Asistencia confirmada'" [type]="'YesNo'" [emptyOption]="true"
              [(model)]="modalElement.isAttending"></smart-form-select>

            <!-- IS ATTENDING EXPECTATION -->
            <smart-form-select [class]="'col-xs-12 col-sm-4'" [label]="'Asistencia esperada'" [type]="'YesNo'" [emptyOption]="true" [(model)]="modalElement.isAttendingExpectation"></smart-form-select>

            <!-- STAYING PLACE -->
            <smart-form-select [class]="'col-xs-12 col-sm-5'" [label]="'Alojamiento sabado'" [emptyOption]="true" [options]="stayingPlaces"
              [(model)]="modalElement.stayingPlace"></smart-form-select>

            <!-- STAYING PLACE EXPECTATION -->
            <smart-form-select [class]="'col-xs-12 col-sm-5'" [label]="'Alojamiento sabado esperado'" [emptyOption]="true" [options]="stayingPlaces"
              [(model)]="modalElement.stayingPlaceExpectation"></smart-form-select>

            <!-- IS TAKING BUS -->
            <smart-form-select [class]="'col-xs-12 col-sm-2'" [label]="'Coge bus'" [type]="'YesNo'" [(model)]="modalElement.isTakingBus"></smart-form-select>

            <!-- ALLERGIES -->
            <smart-form-text [class]="'col-xs-12 col-sm-12'" [label]="'Alergias'" [(model)]="modalElement.allergies"></smart-form-text>

            <!-- ADDITIONAL COMMENTS -->
            <smart-form-text [class]="'col-xs-12 col-sm-12'" [label]="'Otros comentarios'" [(model)]="modalElement.additionalComments"></smart-form-text>

            <div class="col-xs-12 col-sm-6">
              <button type="submit" class="btn btn-block btn-primary">{{editMode ? 'Editar invitado' : 'Añadir invitado' }}</button>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a (click)="cancel()" class="btn btn-block btn-primary">Cancelar</a>
            </div>
          </div>
        </form>
        <app-delete-mode *ngIf="deleteMode" [question]="'Estas seguro de que quieres eliminar este invitado?'" [element]="modalElement"
          [properties]="[{name: 'fullName', label: 'Full Name'}, {name: 'invitation.alias', label: 'Invitation'}, {name: 'table.number', label: 'Table'}]"
          (confirmDelete)="confirmDelete()" (cancel)="cancel()">
        </app-delete-mode>
      </div>
    </div>
  </div>
</div>