<div class="table-planner" [appAdjustHeight]="300">
  <div class="container text-center">
    <app-section-header [sectionName]="'Mesas'"></app-section-header>
    <div *ngIf="!protocolMode">
      <div class="countdown-box" id="countdown-box" *ngIf="tablesResult">
        <span class="item all" [ngClass]="{'selected': !tableFilter || tableFilter.alias === 'all'}">
          <a (click)="tableFilter = {alias: 'all', property: null, value: null, group: 'table'}">
            <span class="number">{{tablesResult.elements.length}}</span>
            <span class="unit script">Total</span>
          </a>
        </span>
        <span class="item complete" [ngClass]="{'selected': tableFilter && tableFilter.alias === 'complete'}">
          <a (click)="tableFilter = {alias: 'complete', property: 'guests.length', propertyValue: 'size', propertyValueMatch: true, group: 'table'}">
            <span class="number">{{tablesResult.complete}}</span>
            <span class="unit script">Completas</span>
          </a>
        </span>
        <span class="item incomplete" [ngClass]="{'selected': tableFilter && tableFilter.alias === 'incomplete'}">
          <a (click)="tableFilter = {alias: 'incomplete', property: 'guests.length', propertyValue: 'size', propertyValueMatch: false, group: 'table'}">
            <span class="number">{{tablesResult.incomplete}}</span>
            <span class="unit script">Incompletas</span>
          </a>
        </span>
      </div>
      <div class="row">
        <div class="col-lg-8 col-lg-push-4">
          <app-tables [tableFilter]="tableFilter" [refresh]="refreshTables" (refreshed)="tablesResfreshed($event)" (tablesResultChanges)="onTablesResultChanges($event)"
            (showProtocol)="protocolMode = $event"></app-tables>
        </div>
        <div class="col-lg-4 col-lg-pull-8 guestsTableContainer">
          <app-table-guests [refresh]="refreshGuests" (refreshed)="guestsRefreshed($event)"></app-table-guests>
        </div>
      </div>
    </div>
    <div *ngIf="protocolMode" class="protocol">
      <div class="row doNotPrint">
        <a class="btn btn-sm btn-primary" (click)="protocolMode = false">
          <i class="fa fa-arrow-left"></i>Volver a organizador</a>
        <a class="btn btn-sm btn-primary" (click)="print()">
          <i class="fa fa-print"></i>Imprimir</a>
      </div>
      <div class="row tables">
        <div *ngFor="let table of tablesResult.elements" class="col-sm-6">
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">{{table.number}} - {{table.name}}</h3>
            </div>
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let guest of table.guests">{{guest.name}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>