<section id="wedding" class="wedding-section section">
  <div class="container text-center">
    <h3 class="title script"><span class="title-deco-left"></span><span class="title-text animated fadeInUp delayp2">La boda</span><span class="title-deco-right"></span></h3>
    <app-countdown-box></app-countdown-box>
    <div class="row cols-wrapper">   
      <app-ceremony></app-ceremony>
      <app-reception></app-reception>
    </div>
    <div class="action-wrapper">
      <app-rsvp-button (click)="rsvpOpened()"></app-rsvp-button>
    </div>
  </div>
  <app-wedding-map></app-wedding-map>
</section>