<div class="guests" [appAdjustHeight]="300">
  <div class="container text-center">
    <app-section-header [sectionName]="'Invitados'"></app-section-header>
    <div class="counters" *ngIf="result">
      <div class="countdown-box" id="countdown-box">
        <span class="item all" [ngClass]="{'selected': !filter || filter.alias === 'all'}">
          <a (click)="filter = {alias: 'all', property: null, value: null, group: 'attendance'}">
            <span class="number">{{result.elements.length}}</span>
            <span class="unit script">Total</span>
          </a>
        </span>
        <span class="item confirmed" [ngClass]="{'selected': filter && filter.alias === 'confirmed'}">
          <a (click)="filter = {alias: 'confirmed', property: 'isAttending', value: true, group: 'attendance'}">
            <span class="number">{{result.attending}}</span>
            <span class="unit script">Confirmados</span>
          </a>
        </span>
        <span class="item friday" [ngClass]="{'selected': filter && filter.alias === 'friday'}">
          <a (click)="filter = {alias: 'friday', property: 'isAttendingFriday', value: true, group: 'attendance'}">
            <span class="number">{{result.friday}}</span>
            <span class="unit script">Viernes</span>
          </a>
        </span>
        <span class="item jarandilla" [ngClass]="{'selected': filter && filter.alias === 'jarandilla'}">
          <a (click)="filter = {alias: 'jarandilla', property: 'stayingPlace', value: 'Jarandilla', group: 'attendance'}">
            <span class="number">{{result.jarandilla}}</span>
            <span class="unit script">Jarandilla</span>
          </a>
        </span>
        <span class="item navalmotal" [ngClass]="{'selected': filter && filter.alias === 'navalmoral'}">
          <a (click)="filter = {alias: 'navalmoral', property: 'stayingPlace', value: 'Navalmoral', group: 'attendance'}">
            <span class="number">{{result.navalmoral}}</span>
            <span class="unit script">Navalmoral</span>
          </a>
        </span>
        <span class="item sms" [ngClass]="{'selected': filter && filter.alias === 'sms'}">
          <a (click)="filter = {alias: 'sms', property: 'sendSms', value: true, group: 'attendance'}">
            <span class="number">{{result.sms}}</span>
            <span class="unit script">Sms</span>
          </a>
        </span>

      </div>
      <div class="countdown-box forecast">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <app-responsive-table [config]="tableConfig" [elements]="result.elements" [components]="components" [externalFilter]="filter"></app-responsive-table>
        </div>
      </div>
    </div>
  </div>
  <app-guest-modal [editMode]="editMode" [deleteMode]="deleteMode" [element]="selectedElement" (ending)="afterModal($event)"></app-guest-modal>
</div>