<div class="guests" [appAdjustHeight]="300">
  <div class="container text-center">
    <app-section-header [sectionName]="'Invitados'"></app-section-header>
    <div class="counters" *ngIf="result">
      <div class="countdown-box" id="countdown-box">
        <span class="item all" [ngClass]="{'selected': !filter || filter.alias === 'all'}">
          <a (click)="filter = {alias: 'all', property: null, value: null, group: 'attendance'}">
            <span class="number">{{result.elements.length}}</span>
            <span class="unit script">Total</span>
          </a>
        </span>
        <span class="item expected" [ngClass]="{'selected': filter && filter.alias === 'expected'}">
          <a (click)="filter = {alias: 'expected', property: 'isAttendingExpectation', value: true, group: 'attendance'}">
            <span class="number">{{result.expected}}</span>
            <span class="unit script">Esperados</span>
          </a>
        </span>
        <span class="item doubtful" [ngClass]="{'selected': filter && filter.alias === 'doubtful'}">
          <a (click)="filter = {alias: 'doubtful', property: 'isAttendingExpectation', value: 'null', group: 'attendance'}">
            <span class="number">{{result.doubtful}}</span>
            <span class="unit script">Dudosos</span>
          </a>
        </span>
        <span class="item nonExpected" [ngClass]="{'selected': filter && filter.alias === 'nonExpected'}">
          <a (click)="filter = {alias: 'nonExpected', property: 'isAttendingExpectation', value: false, group: 'attendance'}">
            <span class="number">{{result.nonExpected}}</span>
            <span class="unit script">No esperados</span>
          </a>
        </span>
        <span class="item awaiting" [ngClass]="{'selected': filter && filter.alias === 'awaiting'}">
          <a (click)="filter = {alias: 'awaiting', property: 'isAttending', value: 'null', group: 'attendance'}">
            <span class="number">{{result.awaiting}}</span>
            <span class="unit script">A la espera</span>
          </a>
        </span>
        <span class="item confirmed" [ngClass]="{'selected': filter && filter.alias === 'confirmed'}">
          <a (click)="filter = {alias: 'confirmed', property: 'isAttending', value: true, group: 'attendance'}">
            <span class="number">{{result.attending}}</span>
            <span class="unit script">Confirmados</span>
          </a>
        </span>
      </div>
      <div class="countdown-box forecast">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <app-responsive-table [config]="tableConfig" [elements]="result.elements" [components]="components" [externalFilter]="filter"></app-responsive-table>
        </div>
      </div>
    </div>
  </div>
  <app-guest-modal [deleteMode]="deleteMode" [element]="selectedElement" (ending)="afterModal($event)"></app-guest-modal>
</div>