<div class="reception-col col-xs-12 col-sm-6">
  <div class="col-inner">
    <h4 class="subtitle">Banquete</h4>
    <p class="intro">Tendra lugar en el hotel Ruta Imperial de Jarandilla de la Vera.</p>
    <ul class="meta-list list-unstyled text-left center-block">
      <li><span class="icon-calendar love-icon"></span>Sábado - 21 Julio 2018</li>
      <li><span class="icon-clock love-icon"></span>20:30 - 07:00</li>
      <li><span class="icon-map love-icon"></span>Hotel Ruta Imperial
        <br>
        <span class="direction-info display-block list-link"><a href="#" data-toggle="modal" data-target="#direction-modal">Cómo llegar</a></span>
      </li>
    </ul>
  </div>
</div>