<div class="type-label">
  <ng-container *ngIf="type === 1"><span class="label label-default label-male"><i class="fa fa-male"></i></span> Hombre</ng-container>
  <ng-container *ngIf="type === 2"><span class="label label-default label-female"><i class="fa fa-female"></i></span> Mujer</ng-container>
  <ng-container *ngIf="type === 3"><span class="label label-default label-child"><i class="fa fa-child"></i></span> Niño</ng-container>
  <ng-container *ngIf="type === 4"><span class="label label-default label-baby"><i class="fa fa-child"></i></span> Bebé</ng-container>
</div>
