<div id="direction-modal" class="direction-modal modal" tabindex="-1" role="dialog" aria-labelledby="directionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="directionModalLabel">Cómo llegar</h4>
      </div>
      <!--//modal-header-->
      <div class="modal-body">
        <div class="row">
          <div class="event-col col-xs-12 col-sm-6">
            <h4 class="col-title text-center">Ceremonia</h4>
            <div class="col-subtitle script text-center">Parroquia de San Andrés Apóstol</div>
            <div class="figure-container"><img class="img-responsive" src="assets/images/san_andres.jpg" alt="" /></div>
            <h5 class="section-title"><i class="fa fa-car"></i> En coche</h5>
            <p>Navalmoral de la Mata esta a 178km de Madrid cogiendo la A5 sentido Badajoz. Desde Jarandilla de la Vera se llega tomando 30 km la EX-119.</p>
            <h5 class="section-title"><i class="fa fa-train"></i> En tren</h5>
            <p>Hay 4 servicios diarios desde Madrid Atocha con Renfe. El trayecto dura entre 2h y 2h 15m.<br><a class="url-link" href="http://www.renfe.com" target="blank"><i class="fa fa-desktop"></i>www.renfe.com</a></p>
            <h5 class="section-title"><i class="fa fa-bus"></i> En bus</h5>
            <p>Al igual que el tren, hay varios servicios diarios de bus desde la estación Méndez Álvaro de Madrid.<br><a class="url-link" href="http://http://www.avanzabus.com" target="blank"><i class="fa fa-desktop"></i>http://www.avanzabus.com</a></p>
            <p>Por otra parte, habrá bus que lleve a Navalmoral para la ceremonia a todos los invitados alojados en Jarandilla.</p>
          </div>
          <!--//event-col-->
          <div class="event-col col-xs-12 col-sm-6">
            <h4 class="col-title text-center">Banquete</h4>
            <div class="col-subtitle script text-center">Hotel Ruta Imperial</div>
            <div class="figure-container"><img class="img-responsive" src="assets/images/ruta.jpg" alt="" /></div>
            <h5 class="section-title"><i class="fa fa-car"></i> En coche</h5>
            <p>Jarandilla de la Vera se encuentra en el corazon de La Vera. Para acceder a ella lo más común es llegar primero a Navalmoral de la Mata y de ahí tomar la EX-119.</p>
            <h5 class="section-title"><i class="fa fa-bus"></i> En bus</h5>
            <p>Habrá servicio de bus una vez que termine la ceremonia que lleve a Jarandilla para el banquete. Tambien habrá bus de vuelta a Navalmoral a diferentes horas de la noche.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>