<div id="direction-modal" class="direction-modal modal" tabindex="-1" role="dialog" aria-labelledby="directionModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="directionModalLabel">Como llegar a los eventos</h4>
      </div>
      <!--//modal-header-->
      <div class="modal-body">
        <div class="row">
          <div class="event-col col-xs-12 col-sm-6">
            <h4 class="col-title text-center">Ceremonia</h4>
            <div class="col-subtitle script text-center">Parroquia de San Andrés Apóstol</div>
            <div class="figure-container"><img class="img-responsive" src="assets/images/san_andres.jpg" alt="" /></div>
            <h5 class="section-title"><i class="fa fa-car"></i> En coche</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
              nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
            <h5 class="section-title"><i class="fa fa-train"></i> En tren</h5>
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim.</p>
            <h5 class="section-title"><i class="fa fa-bus"></i> En bus</h5>
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim. Aliquam lorem ante.</p>
          </div>
          <!--//event-col-->
          <div class="event-col col-xs-12 col-sm-6">
            <h4 class="col-title text-center">Banquete</h4>
            <div class="col-subtitle script text-center">Hotel Ruta Imperial</div>
            <div class="figure-container"><img class="img-responsive" src="assets/images/ruta.jpg" alt="" /></div>

            <h5 class="section-title"><i class="fa fa-car"></i> En coche</h5>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum
              sociis natoque penatibus.</p>
            <h5 class="section-title"><i class="fa fa-bus"></i> En bus</h5>
            <p>Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae,
              eleifend ac, enim.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>