<div id="rsvp-invitation-modal" class="modal invitation-modal modal-rsvp" tabindex="-1" role="dialog" aria-labelledby="rsvpModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="rsvp-form" class="rsvp-form form" *ngIf="modalInvitation && !deleteMode" (ngSubmit)="onSubmit()">
          <div id="form-messages" class="text-center"></div>
          <div class="row text-left">

            <!-- ALIAS -->
            <app-form-text [class]="'col-xs-12 col-sm-6'" [label]="'Alias'" [(model)]="modalInvitation.alias"></app-form-text>

            <!-- GUID -->
            <app-form-span [class]="'col-xs-12 col-sm-6'" [label]="'GUID'" [model]="modalInvitation.guid"></app-form-span>

          </div>
          <div class="row text-left">

            <!-- ISSENT -->
            <app-form-select [class]="'col-xs-12 col-sm-3'" [label]="'Enviada'" [type]="'YesNo'" [emptyOption]="true" [(model)]="modalInvitation.isSent"></app-form-select>

            <!-- ISREPLIED -->
            <app-form-select [class]="'col-xs-12 col-sm-3'" [label]="'Contestada'" [type]="'YesNo'" [emptyOption]="true" [(model)]="modalInvitation.isReplied"></app-form-select>

            <!-- GROUPS -->
            <app-form-select [class]="'col-xs-12 col-sm-6'" [label]="'Grupo'" [options]="groups" [optionValue]="'_id'" [optionLabel]="'name'"
              [emptyOption]="true" [(model)]="modalInvitation.group"></app-form-select>

          </div>
          <div class="row">

            <!-- RECEIVER -->
            <app-form-text [class]="'col-xs-12 col-sm-4'" [label]="'Remitente'" [(model)]="modalInvitation.receiver"></app-form-text>

            <!-- ADDRESS -->
            <app-form-text [class]="'col-xs-12 col-sm-8'" [label]="'Direccion'" [(model)]="modalInvitation.address"></app-form-text>
          </div>
          <div class="row ">
            <div class="col-xs-12 col-sm-6">
              <button type="submit" class="btn btn-block btn-primary">{{invitation && invitation.guid ? 'Editar invitacion' : 'Añadir invitacion' }}</button>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a (click)="cancel()" class="btn btn-block btn-primary">Cancelar</a>
            </div>
          </div>
        </form>
        <div class="delete-section row" *ngIf="deleteMode">
          <div class="col-xs-12 col-sm-12">
            <h3>Estas seguro de que quieres eliminar esta invitacion?</h3>
          </div>
          <div class="col-xs-12 col-sm-12 invitation-info">
            <div>
              <span class="delete-section-property">Alias: </span>
              <span class="delete-section-value"> {{modalInvitation.alias}}</span>
            </div>
            <div>
              <span class="delete-section-property">GUID: </span>
              <span class="delete-section-value"> {{modalInvitation.guid}}</span>
            </div>
            <div>
              <span class="delete-section-property">Grupo: </span>
              <span class="delete-section-value"> {{modalInvitation.group.name}}</span>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4">
            <button class="btn btn-block btn-danger" (click)="confirmDelete()">
              <i class="fa fa-thumbs-up"></i> SI</button>
          </div>
          <div class="col-xs-12 col-sm-8">
            <button class="btn btn-block btn-primary" (click)="cancel()">
              <i class="fa fa-thumbs-down"></i>NO</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>