<ng-container>
  <span *ngIf="totalAmount <= amountPaid; else notPaid" class="label label-default paid">
    <i class="fa fa-check "></i>
  </span>
  <ng-template #notPaid>
    <span class="label label-default not-paid">
      <i class="fa fa-hourglass"></i>
    </span>
  </ng-template>
  <span *ngIf="costPerGuest < 1">{{totalAmount |currency:'EUR':'symbol'}}</span>
  <span *ngIf="costPerGuest > 0">{{totalAmount |currency:'EUR':'symbol'}} ({{amount |currency:'EUR':'symbol'}})</span>
</ng-container>