<div id="rsvp-group-modal" class="modal modal-rsvp" tabindex="-1" role="dialog" aria-labelledby="rsvpModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form id="rsvp-form" class="rsvp-form form" *ngIf="modalElement && !deleteMode" (ngSubmit)="onSubmit()">
          <div id="form-messages" class="text-center"></div>
          <div class="row text-left">

            <!-- NAME -->
            <smart-form-text [class]="'col-xs-12 col-sm-4'" [label]="'Nombre'" [(model)]="modalElement.name"></smart-form-text>

            <!-- HOST -->
            <smart-form-select [class]="'col-xs-12 col-sm-4'" [label]="'Anfitrion'" [emptyOption]="true" [options]="hosts" [(model)]="modalElement.host"></smart-form-select>

            <!-- ORDER -->
            <smart-form-text [class]="'col-xs-12 col-sm-4'" [label]="'Order'" [(model)]="modalElement.order"></smart-form-text>

            <!-- INVITATION DEDICATION -->
            <div class="form-text form-group col-xs-12 col-sm-12">
              <div class="form-group-inner">
                <label for="dedication">Dedicatoria</label>
                <div class="text-editor" [froalaEditor]="editorOptions" [(froalaModel)]="modalElement.invitationDedication"></div>
              </div>
            </div>

          </div>
          <div class="row form-buttons">
            <div class="col-xs-12 col-sm-6">
              <button type="submit" class="btn btn-block btn-primary">{{editMode ? 'Editar grupo' : 'Añadir grupo' }}</button>
            </div>
            <div class="col-xs-12 col-sm-6">
              <a (click)="cancel()" class="btn btn-block btn-primary">Cancelar</a>
            </div>
          </div>
        </form>
        <app-delete-mode *ngIf="deleteMode" [question]="'Estas seguro de que quieres eliminar este grupo?'" [element]="modalElement"
          [properties]="[{name: 'name', label: 'Name'}, {name: 'host', label: 'Anfitrion'}]" (confirmDelete)="confirmDelete()"
          (cancel)="cancel()">
        </app-delete-mode>
      </div>
    </div>
  </div>
</div>