<div class="form-text form-group {{class}}">
  <div class="form-group-inner" [ngClass]="error ? 'error' : ''">
    <label for="{{label}}">{{label}}</label>
    <input required *ngIf="!multiLine" type="{{type}}" class="form-control" id="{{label}}" placeholder="{{label}}" [ngModel]=model (ngModelChange)="updateData($event)">
    <textarea *ngIf="multiLine" class="form-control" id="{{label}}" placeholder="{{label}}" [ngModel]=model (ngModelChange)="updateData($event)"></textarea>
    <div class="error-message-container text-left"><div *ngIf="error" class="error-message">{{error}}</div></div>
  </div>
</div>