<div>
    <app-form-text [class]="'col-xs-12 col-sm-6 no-padding-left'" [label]="'Nombre'" [(model)]="model.name"></app-form-text>
    <app-form-text [class]="'col-xs-12 col-sm-6 no-padding-right'" [label]="'FullName'" [(model)]="model.fullName"></app-form-text>
    <app-form-select [class]="'col-xs-12 col-sm-6 no-padding-left'" [label]="'Tipo'" [(model)]="model.type" ></app-form-select>
    <app-form-select [class]="'col-xs-12 col-sm-6 no-padding-right'" [label]="'Asistencia'" [(model)]="model.isAttending" ></app-form-select>    
</div>
